body {
  background-image: url("./img/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Dancing Script", cursive, sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  height: 100vh;
  font-weight: 700;
}

.hidden {
  display: none;
}

.search {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}

#city {
  border: 2px solid black;
  border-radius: 4px;

  height: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button {
  height: 26px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}
button:hover {
  background-color: #0e3e755d;
}
.content {
  text-align: center;
}
